/* src/core/styles/Header.css */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #021d4f;
    padding: 10px 20px;
    color: white;
    border-bottom: 1px solid #e1e1e1;
  }
  
  
  .logo {
    font-size: 8px;
    font-weight: bold;
    height: 50px;
    margin-right: 20px;
  }
  
  .nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
  }
  
  
  nav ul li {
    font-weight: 400;
  }

  nav ul li a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease;
  }

  nav ul li.active a {
    color: #d0ecf9;
    border-bottom: 2px solid #007bff;
  }
  
  nav ul li a:hover {
    color: #2f0f99;
  }

  .nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .nav a:hover {
    color: #e1e1e1;
  }
  
  .signout-button {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .signout-button:hover {
    background-color: white;
    color: #4a90e2;
  }
  